*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    /* =========color========= */
    --primary-color: #EDB731;
    --secondary-color:#FFC73E;
    --black: #000000;
    --light-black:#222222;
    --white:#FFF;

    /* ========container======== */
    --container-width-lg:90%;
    --container-width-sm:86%;   
    /* ================font======== */
    --font-family-inter: "Inter", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;

}
h2{
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 58px;
    font-weight: 600;
    line-height: 87px;
    text-align: center;

}
h6{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--light-black);
    font-family: var(--font-family-poppins);
    
}
section{
    padding: 80px 0;
}

.btn-1{
    background-color: var(--primary-color);
    border-radius: 23px;
    color: var(--light-black);
    border: none;
    padding: 6px 12px 6px 12px;
    
}
.btn-1:hover{
   background: none;
   border: 1px solid var(--light-black);
}
.btn-2{
    border-radius: 23px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    background: none;
    
}
.btn-2:hover{
   background-color:var(--primary-color);
   color:var(--black);
   border: none;
}
.btn-3{
    background-color: var(--primary-color);
    border-radius: 23px;
    color: var(--light-black);
    border: none;
    padding: 10px 60px 10px 60px;
    margin-left:43.5%;
    margin-top: 1%;  
}
.btn-3:hover{
   background: none;
   border: 1px solid var(--light-black);
}
/* =============header area start============= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 96%;
}

.header-area{
    position: relative;
    background: transparent;
    background-color: #000000a1;
    opacity: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    width: 100px;
    height:60px;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    font-size: 1.5rem;
    color: black;
    right: 5%;
    display: none;

}
.navmenu{
    padding-right: 5rem;
}

.navmenu a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding-right: 3rem;
    
    font-family: var(--font-family-roboto);
   
}
.navmenu button{
    margin-left: 1.5rem;
    transition: 0.5 ease;
    cursor: pointer;
    font-family: var(--font-family-roboto);

}
.navmenu a:hover{
    text-decoration: underline 5px solid#EDB731;
    
   
}
.navmenu button:hover{
transform: scale(1.2);
}
@media (max-width: 1300px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #mobile-menu-icon{
        display: none;
    }

    .icons #mobile-close-icon{
        display: none;
    }

    #check:checked~.icons #mobile-close-icon{
        display: block;
    }

    .navmenu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
        background-color: #222222;
       
    }
    .butt{
      position: absolute;
        
    }
    #check:checked~.button{
        height: 20rem;
    }
    #check:checked~.navmenu{
        height: 19rem;
    }

    .navmenu a {
        display: block;
        margin: 1.3rem 2rem;
        transition: .3s ease;
        transform: translateX(-50px);
        color: #FFF;
       
    }

    #check:checked~.navmenu a{
        transform: translateX(0);
    }
}
/* -------------------------------------------------------- */

.butt{
    width:130px;
    height:30px;
    background-color: white;
    color: black;
    border-color: 1px solid black;
    font-size: large;

}


/* =============header area end============= */

/* =========banner area start========= */
.banner-area{
    background-image: url(images/hero.png);
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 79%;
    max-width: 100%;
    
}

.banner-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 250px;
}
.banner-btn{
    padding:10px 134px 10px 134px;
    border:2px solid var(--light-black);
    border-radius: 40px;
    background: none;
    color:var(--white); 
    margin-bottom: 50px;  
}
.banner-text span{
    color: transparent;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.856);
}

.banner-text h1{
 font-size: 128px;
 color: var(--white);

}
.banner-text h6{
    color: var(--white);
}

/* =========banner area end========= */
/* ==========image generator start======== */
.container-image-generator{
    margin: 0 auto;
    max-width:1300px ;
}
.promt-suggestion h6{
    font-family:var(--font-family-poppins) ;
}
input{
    width:935px ;
    height:80px;
    padding-left: 68px;
    border-radius: 50px;
    margin-left: 12%;
    font-size: 24px;
    border: 1px solid var(--primary-color);
    margin-top: 5%;
    
}
.generate{
    width: 170px;
    height: 80px;
    padding: 22px 40px 22px 33px;
    font-size: 24px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
    margin-left: -11%;
    background-color: var(--primary-color);
    border: none; 
    cursor: pointer;
}
.flexbox-btn{
    display: flex;
    justify-content: space-evenly;
    
}
.flexbox-btn > div{
    width:453px;
    height:42px;
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 9px 17px 9px 17px;
    font-family: var(--font-family-roboto);
    

}
.flexbox-btn-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5%;
}
.flexbox-btn-2 > div{
    width:218px;
    height:42px;
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 9px 17px 9px 17px;
    font-family: var(--font-family-roboto);
    

}
.img-area img{
    width: 350px;
    height: 350px; 
}
.img-area{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    
}

/* ==========image generator end======== */
/* ==============our story start=========== */
.story-img{
    display: flex;
    margin-top: 10%;
}
.img-1{
     width: 450px;  
    height:450px; 
}
.img-2{
    width: 300px;  
    height:300px; 
    margin-left:-14%;
    margin-top: 17%;

}
.story-area{
    display: flex;
    justify-content: space-evenly;
}
.story-text{
    margin-top: 18%;
}
.story-text h6{
    color: var(--primary-color);
}
.story-text p{
    margin-top: 5%;
    line-height:25px;
}

/* ==============our story end=========== */

/* ============latest news start========== */

/* ============latest news end========== */